@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply dark mode color scheme */
  .dark {
    color-scheme: dark;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-500;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Ensure scrollbar applies to all screen sizes */
html, body {
  /* Optional: Force scrollbars to appear on all screen sizes */
  overflow: auto;
}

/* Optional: Force visibility of scrollbars in all cases */
html, body, .scrollable-element {
  overflow: scroll;
}
